.hero {
    min-height: 40vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.hero-caption {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

.hero-text {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}