.map-container {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-color: rgb(54, 54, 54);
    color: darkgrey;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.full-page-map {
    height: 50vh;
    width: 100%;
}

.text-box {
    width: 95%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: darkgrey;
    background-color: rgb(66, 66, 66);
}

.unbordered {
    border: none;
}


