.map-container {
    position: relative;
    width: 100%;
    min-height: 90vh;
}

.full-page-map {
    height: 50vh;
    width: 100%;
}

.map-search-box {
    background-color: white;
}

.text-box {
    width: 95%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.unbordered {
    border: none;
}

