#privacy-policy-details {
    margin-bottom: 100px;
}
#privacy-policy-details h2 {
    color: darkgray;
    margin-top: 40px;
    font-size: 1.6rem;
}
#privacy-policy-details table {
    margin-top: 100px;
}
