.vocabulary-container {
    width: 100%;
    min-height: 90vh;
}

.vocab-search {
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
}

.tag-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tag {
    margin: 5px;
    padding: 5px;
    border: 1px solid darkgray;
    font-size: 0.8em;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(225,225, 225, 0.2);
}